{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>daVinci</title>
  <link rel="stylesheet" href="{% static 'main_app/style/style.css' %}">
</head>
<body>
  <h1><a href="/">Academia daVinci</a></h1>

  <br>

  {% if logged_in == "True" %}
    <h2>Welcome, {{ user }}!</h2>
    <br>
    <br>
  {% endif %}

  {% for course in courses %}
    <h1><a href="{{ course.slug }}">{{ course.name }}</a></h1>
    <br>
  {% endfor %}

  <button onclick="location.href='/create_course/'">Adauga un nou curs!</button>
  {% if logged_in == "True" %}
    <form action="/logout/", method="POST">
      {% csrf_token %}
      <button type="submit">Iesi din cont</button>
    </form>
  {% endif %}

  <br>
  <button onclick="location.href='/login/'">Intra in cont</button>
  <br>
  <button onclick="location.href='/register/'">Inregistreaza-te</button>

</body>
</html>